
body {
	font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
	background:#fff;
	color:#555;
	padding: 10em 3.1746032% 8em;
}



/*.post, .header {padding: 0 3.1746032%;} /*  20px  /  630px  */

.post_content, .header_wrap {
	max-width: 630px;
	margin: 0 auto;
	position: relative;
}



/***Header Header***/

.header {
	width: 100%;
	background: #ffff99;
	height: 2em; /* 32px / 16px */
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9;
}

.logo {
	color: #222;
	position: absolute;
	font-size: 2em; 
	top: 2px;
	left: 3.1746032%; /* 37.8px / 630px */
}

.logo:hover {color: #F64599;}


.toc2 {
	float: right;
	margin: 0 10px 0 8px;
	height: 2em;
	position: relative;
}

.toc2 li { 
	display: inline;
	width: 30px;
	text-align: center;
}

.toc2 a {
	color: #333;
	font-weight: bold;
	font-size: 12px;
	padding: 10px 7px 10px;
	float: left;
}

.toc2 a:hover, .toc2 .active {
/*	color: #F64599;*/
	background: #454545;
	color: #fff;
}







/***Post Header***/

.post h1 {
	font-size: 1em;
	line-height: 2em;
	color: #111;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 6;
	position: relative;
}

.post h2 {
	font-size: 2.25em; /* 36px / 16px */
	color: #F64599;
	line-height: 1.16666667em;  /* 42px / 36px */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

p.date {
	font-size: 0.875em; /* 14px / 16px */
	color: #999;
	margin: 0.3125em 0 7.5em; /* 5/16 & 120/16 */
}


/***The Basics***/


p {
	font-size: 1.125em; /* 18px / 16px */
	line-height: 1.55555556em; /* 28px / 18px */
	margin-bottom: 1.33333333em; /* 24 / 18 *//
}

p a {
	color: #F64599;
	font-weight: bold;
}

p a:hover {
	background: #ffff99;
	color: #F64599;
	outline: 4px solid #ffff99;
}

em { font-style: italic;}

em.bold {
	font-weight: bold;
	color: #222;
	font-style: normal;
}

blockquote {
	padding: 0.75em 1.5em 0.75em 0.75em; /* 24/16 & 12/16 */
}

blockquote p {
	font-size: 1em;
	line-height: 1.375em; /* 22/16 */
	font-style: italic;
}

blockquote p em { color:#111; }




/***The Extras****/



.post_content ul,.post_content ol {
	margin-left:20px;	
}

.post_content ul { list-style-type:disc; }

.post_content ol { list-style-type:decimal; }

.post_content li {
	font-size:15px;
	line-height:20px;
	color:#444;
	margin-bottom:12px;
}


.footer {
	font-size: 0.875em; /* 14/16 */
	line-height: 1.42857143em; /* 20/14 */
	margin-top: 2em;
	border-top: 1px solid #cecece;
	padding-top: 1em;	

}




/***TOC Mini****/

.toc {
	margin: 0 auto 100px;
}

.toc li {
	float: left;
	width: 28px;
	height: 28px;
}

.toc a {
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 28px;
}

.toc a:hover, .toc .active {
	color: #F64599;
}

.nine {
	width: 84px;
}


/***Home Page Styles************************************************************/


.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 0 4%; /* 20px / 500px */
}

#home h1 {
	font-size: 2.375em; /* 36/16 */
	color: #F64599;
	line-height: 1.33333333em; /* 48/36 */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin-bottom: 0.83333333em; /* 30/36 */
}

.container > p {
	color: #777;
	font-size: 1em;
	line-height: 1.375em; /* 22/16 */
	margin-bottom: 5em;
}

#home p a {font-weight: normal;}

#home h2 {
	font-size: 1em;
	line-height: 1.375em; /* 28/16 */
	color: #111;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.5em; /* 24/16 */
}

#home ol, #home ul {
	margin-bottom: 1.5em; /* 24/16 */
}

#home li a, #home li p {

	color: #555;
	font-size: 1em;
	line-height: 1.375em; /* 22/16 */

}

#home li {margin-bottom: 0.75em;} /* 12 / 16 */

#home li p {
	margin: 0;
}

#home li p:hover {
	text-decoration: line-through;
}

#home li a {
	line-height: 1.25em; /* 20 / 16 */
	display: inline-block;
}

#home li a:hover {
	background: #ffff99;
	color: #F64599;	
	outline: 5px solid #ffff99;
}

.articles {
	margin-bottom: 2em;
	position: relative;
}

h3.flourish {
	font-size: 2.5em; /* 40/16 */
	color: #F64599;	
	padding: 0 0 .4em 0; /* 16/40 */
	margin: 0 auto;
	width: 60px;
}

.longkiss > p {
	font-size: 1em;
	color: #888;
	font-style: italic;
	line-height: 1.375em; /* 22/16 */
	margin-bottom: 2.25em; /* 36/16 */
}

#home .longkiss > h2 {
	margin-bottom: 0.75em; /* 12 / 16 */
}


br {display: none;}
b {
	display: none;
	background: #454545;
	color: #fff;
	position: absolute;
	top: 2em;
	right: 0;
	padding: 6px 10px 5px;
}

@media screen and (min-width: 630px) {


	h3.flourish {
		font-size: 2.5em; /* 40 / 16 */
		position: absolute;
		top: -12px;
		left: -40px;
		color: #F64599;	
		padding: 0;
	}

	.longkiss .flourish {top: -10px;}

	.post h1 {z-index: 10;}
	.logo {	left: -6%;} /* 37.8px / 630px */
	br {display: inline;}
}


h1.stick-to-top {
	position: fixed;
	top: 0;
}

b {
	display: inline;
	background: #454545;
	color: #fff;
	position: absolute;
	top: 2em;
	right: 0;
	padding: 6px 10px 5px;
}






