* { margin: 0; padding: 0; text-decoration: none; font-size: 1em; outline: none; }
code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext { font: inherit; font-size: 1em; white-space: normal; }
dfn, i, cite, var, address, em { font-style: normal; }
th, b, strong, h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td, center { text-align: left; vertical-align: top; }
body { line-height: 1; background: white; color: black; }
q { quotes: "" ""; }
ul, ol, li, dir, menu { list-style: none; }
sub, sup { vertical-align: baseline; }
a { color: inherit; }
hr { display: none; } /* we don't need a visual hr in layout */
font { color: inherit !important; font: inherit !important; color: inherit !important; } /* disables some nasty font attributes in standard browsers */
marquee { overflow: inherit !important; -moz-binding: none; }
blink { text-decoration: none; }
nobr { white-space: normal; }

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}





#articles #startups
{
    list-style-type:none;
    
}

#articles #startups li
{
    margin-left:0;
    
}

#articles #startups li a
{
    margin-left:60px;
    float:left;
    
}

#articles ol
{
    list-style-type:decimal;
    
}

#articles ol li
{
    margin-left:23px;
    position:relative;
    
}

#articles ul
{
    list-style-type:disc;
    color:#111;
    
}

#articles ul li
{
    margin-left:19px;
    color:#aaa;
    
}

#articles ul li p
{
    color:#aaa;
    
}

#articles ol,#articles ul
{
    float:left;
    clear:both;
    margin-bottom:18px;
    
}

#articles ol li,#articles ul li
{
    float:left;
    clear:both;
    font-size:20px;
    line-height:24px;
    margin-bottom:8px;
    
}

#articles ol li a
{
    color:#666;
    
}

#articles ol li a:hover
{
    color:#000;
    
}

#articles ol li a span
{
    color:#000;
    position:absolute;
    top:0;
    left:0;
    
}

#articles ol li a:hover
{
    color:#000;
    
}
