<aside class="aside">
    <div class="sidebar">
        <ul class="chapter-list">
            <li class="chapter-list__item"><a href="" id="" class="chapter-list__link">1</a></li>
            <li class="chapter-list__item"><a href="" id="" class="chapter-list__link">2</a></li>
            <li class="chapter-list__item"><a href="" id="" class="chapter-list__link">1</a></li>
            <li class="chapter-list__item"><a href="" id="" class="chapter-list__link">2</a></li>
            <li class="chapter-list__item"><a href="" id="" class="chapter-list__link">1</a></li>
            <li class="chapter-list__item"><a href="" id="" class="chapter-list__link">2</a></li>
            <li class="chapter-list__item"><a href="" id="" class="chapter-list__link">1</a></li>
            <li class="chapter-list__item"><a href="" id="" class="chapter-list__link">2</a></li>
        </ul>
    </div>
</aside>
