<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><title>Pmarchive - Book of the week: Best book for tech entrepreneurs this year</title><meta name="description" content=""><meta name="keywords" content="pmarca, pmarchive, guide to startups"><meta name="robots" content="index, follow, noarchive"><meta name="googlebot" content="noarchive"><link href="../css/reset.css" media="screen" rel="stylesheet" type="tecss"><link href="../css/pmarchive.css" media="screen" rel="stylesheet" type="tecss"></head><body>
  <div class="header">
    <div class="header_wrap">
      <a href="home.html" class="logo">&#9756;</a>
      <ul class="toc2"><li>
          <a href="no_such_thing_as_web_20.html" title="Why there's no such thing as Web 2.0">1</a>
        </li>
        <li>
          <a href="top_sci-fi_novelists_of_the_00s_so_far.html" title="Top 10 science fiction novelists of the '00s -- so far">2</a>
        </li>
        <li>
          <a href="why_ning.html" title="Why Ning?">3</a>
        </li>
        <li>
          <a href="best_book_for_tech_entrepreneurs_this_year.html" class="active" title="Book of the week: Best book for tech entrepreneurs this year">4</a>
        </li>
        <li>
          <a href="three_kinds_of_platforms_you_meet_on_the_internet.html" title="The three kinds of platforms you meet on the Internet">5</a>
        </li>
        <li>
          <a href="blues_through_jazz.html" title="Music of the week: Three views of the blues, through jazz">6</a>
        </li>
        <li>
          <a href="11_lessons_learned_about_blogging.html" title="Eleven lessons learned about blogging, so far">7</a>
        </li>
        <li>
          <a href="ok_it_IS_a_bubble.html" title="OK, you're right, it IS a bubble">8</a>
        </li>      
        <li>
          <a href="counterpoint_ben_horowitz.html" title="Counterpoint: Ben Horowitz on micromanagement">9</a>
        </li>
        <li>
          <a href="an_hour_and_a_half_with_barack_obama.html" title="An hour and a half with Barack Obama">10</a>
        </li> 
      </ul></div>  <!-- end header_wrap -->
  </div>  <!-- end header -->

  <div class="post">

    <div class="post_content">

      <h2>Book of the week: Best book for tech entrepreneurs this year</h2>
      <p class="date">Jul 18, 2007</p>

      <p>Steve Blank is a super-experienced Silicon Valley technology entrepreneur who is best known for starting E.piphany, a successful software company, and also founded or worked at a broad range of meaningful tech companies over the last 30 years including Zilog, Convergent, MIPS, Ardent (one of the most innovative mini-supercomputer companies of the late 80's), and Rocket Science Games.  Today he is a director at several tech companies including Immersion, Cafepress, Macrovision (boo hiss), and IMVU, and lectures on entrepreneurship at Stanford and UC Berkeley.</p>

      <p>In other words, this is a dude with serious street cred.</p>

      <p>Steve is one of the most strategic thinkers you will find on the topic of starting high-tech companies.  A lot of entrepreneurs come up with an idea and run with it; Steve, on the other hand, takes a comprehensive approach at analyzing and specifying exactly what a company is going to do to get started and become successful.  And because he's a real-world entrepreneur, he doesn't think in terms of abstract frameworks like many commentators and theorists, but rather the real, concrete things that a startup has to do to be successful.</p>

      <p>And he's just written and published a book, <b><a href="http://www.amazon.com/gp/product/0976470705?ie=UTF8&amp;tag=marandsblo-20&amp;linkCode=as2&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0976470705">The Four Steps to the Epiphany</a></b>, that is a very practical how-to manual for startups.</p>

      <p>In a nutshell, Steve proposes that companies need a Customer Development process that complements their Product Development Process.  And he lays out exactly what he thinks that Customer Development process should be.  This goes directly to the theory of Product/Market Fit that I have discussed on this blog before -- in this book, Steve provides a roadmap for how to get to Product/Market Fit.</p>

      <p>Buy it, read it, keep it under your pillow and absorb it via osmosis.<br></p>
      <div class="footer_wrap">
        <p class="footer">This article was written by <a href="http://web.archive.org/web/20100615060031/http://en.wikipedia.org/wiki/Marc_Andreessen">Marc Andreessen</a> and originally published on his now defunct blog, <a href="http://web.archive.org/web/20100615060031/http://blog.pmarca.com/">blog.pmarca.com</a>. His articles are probably the best articles about businenes and startups anywhere.</p>
      </div>      <!-- end footer_wrap -->
    </div>   <!-- end post_content -->
  </div>    <!-- end post -->
  <script type="text/javascript" src="../js/page.js"></script>

</body></html>