<!DOCTYPE html>
<html xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Pmarchive {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta name="keywords" content="pmarca, pmarchive, guide to startups" />
        <meta name="robots" content="index, follow, noarchive" />
        <meta name="googlebot" content="noarchive" />
        <link href="{{url_for('static', filename='css/screen.css')}}" media="screen" rel="stylesheet" type="text/css" />
     </head>
    <body class="{% block bodyClass %}{% endblock %}">
        <nav class="nav">
            <div class="site-nav__wrapper">
                <a class="site-nav__icon-link hamburger-container">
                    <span class="hamburger-top"></span>
                    <span class="hamburger-middle"></span>
                    <span class="hamburger-bottom"></span>
                </a>
                <div class="site-nav__subwrapper">
                    <ul class="site-nav__list">
                            <li class="site-nav__list-item">
                                <a href="" class="site-nav__link"></a>
                            </li>
                    </ul>
                </div>
            </div>
            <h1 class="brand">Pmarchive</h1>
        </nav>
        {% block body %}
        {% endblock %}
        <script src="{{url_for('static', filename='js/chapter-sidebar.js')}}"></script>
    </body>
</html>
