<!DOCTYPE html>
<html xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Pmarchive {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta name="keywords" content="pmarca, pmarchive, guide to startups" />
        <meta name="robots" content="index, follow, noarchive" />
        <meta name="googlebot" content="noarchive" />
        <link href="{{url_for('static', filename='css/screen.css')}}" media="screen" rel="stylesheet" type="text/css" />
     </head>
    <body class="body {% block bodyClass %}{% endblock %}">
        <nav class="nav" role="navigation">
            <div class="site-nav__wrapper">
                <a class="site-nav__icon-link hamburger-container" tabindex="1">
                    <span class="is-visually-hidden">navigation</span>
                    <span class="hamburger-top"></span>
                    <span class="hamburger-middle"></span>
                    <span class="hamburger-bottom"></span>
                </a>
                <div class="site-nav__subwrapper">
                    <ul class="site-nav__list">
                        <li class="site-nav__list-item pink">
                            <a href="" class="site-nav__link">
                                <div class="container--nav">
                                    <h3 class="site-nav__subtitle">Something One</h3>
                                    <h2 class="site-nav__title">The Pmarca  <span class="indent">Guide to Startups</span></h2>
                                </div>
                            </a>
                        </li>
                        <li class="site-nav__list-item teal">
                            <a href="" class="site-nav__link">
                                <div class="container--nav">
                                    <h3 class="site-nav__subtitle">Something Two</h3>
                                    <h2 class="site-nav__title">Other Startup<span class="indent">Essentials</span></h2>
                                </div>
                            </a>
                        </li>
                        <li class="site-nav__list-item gold">
                            <a href="" class="site-nav__link">
                                <div class="container--nav">
                                    <h3 class="site-nav__subtitle">Something Three</h3>
                                    <h2 class="site-nav__title">Additional<span class="indent">Pmarca Guides</span></h2>
                                </div>
                            </a>
                        </li>
                        <li class="site-nav__list-item purple">
                            <a href="" class="site-nav__link">
                                <div class="container--nav">
                                    <h3 class="site-nav__subtitle">Something Four</h3>
                                    <h2 class="site-nav__title">Assorted<span class="indent">Goodness</span></h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 class="brand">Pmarchive</h1>
        </nav>
        {% block body %}
        {% endblock %}
        <script src="{{url_for('static', filename='js/chapter-sidebar.js')}}"></script>
        <script src="{{url_for('static', filename='js/nav.js')}}"></script>
    </body>
</html>
