{% extends "default.html" %}

{% block bodyClass %}is-home{% endblock %}
{% block body%}
<main class="main">
    <section class="hero">
        <h1 class="hero__header">Pmarchive</h1>
        <p class="hero__text">An archive of the best articles from Marc Andreessen's original <a href="">blog.pmarca.com</a></p>
    </section>
    <ul class="article-list">
        <li class="article-list__item pink">
            <a href="" class="article-list__link">
                <div class="container">
                    <h3 class="article-list__subtitle">Something One</h3>
                    <h2 class="article__title article__title--guide">The Pmarca  <span class="indent">Guide to Startups</span></h2>
                    <p class="article__chapters">8 chapters</p>
                </div>
            </a>
        </li>
        <li class="article-list__item teal">
            <a href="" class="article-list__link">
                <div class="container">
                    <h3 class="article-list__subtitle">Something Two</h3>
                    <h2 class="article__title">Other Startup<span class="indent">Essentials</span></h2>
                    <p class="article__chapters">8 chapters</p>
                </div>
            </a>
        </li>
        <li class="article-list__item gold">
            <a href="" class="article-list__link">
                <div class="container">
                    <h3 class="article-list__subtitle">Something Three</h3>
                    <h2 class="article__title">Additional<span class="indent">Pmarca Guides</span></h2>
                    <p class="article__chapters">7 chapters</p>
                </div>
            </a>
        </li>
        <li class="article-list__item purple">
            <a href="" class="article-list__link">
                <div class="container">
                    <h3 class="article-list__subtitle">Something Four</h3>
                    <h2 class="article__title">Assorted<span class="indent">Goodness</span></h2>
                    <p class="article__chapters">10 chapters</p>
                </div>
            </a>
        </li>
    </ul>
</main>
{% endblock %}
