{% extends 'article.html' %}
{% block bodyClass %}pink {{ super() }}{% endblock %}
{% block body %}
    <main class="main article">
        <section class="hero article__hero">
            <div class="container">
                <h3 class="article-list__subtitle">Something One</h3>
                <h1 class="hero__header article__title--guide">The Pmarca  <span class="indent">Guide to Startups</span></h1>
                <p class="article__chapters">8 chapters</p>
            </div>
        </section>
        <article>
            <section class="chapter">
                <div class="container">
                    <h3 class="article-list__subtitle">The Pmarch Guide to Startups</h3>
                    <h1 class="chapter__header">Chapter 1 : <span class="indent">Why Not To Do a Startup</span></h1>
                    <p class="article__chapters">June 07, 2007</p>
                </div>
            </section>
            <div class="article__body">
                <div class="article__body-wrapper">
                    <p>In this series of posts I will walk through some of my accumulated knowledge and experience in building high-tech startups.</p>
                    <p>My specific experience is from three companies I have co-founded: Netscape, sold to America Online in 1998 for $4.2 billion; Opsware (formerly Loudcloud), a public software company with an approximately $1 billion market cap; and now Ning, a new, private consumer Internet company.</p>
                    <blockquote>But more generally, I've been fortunate enough to be involved in and exposed to a broad range of other startups -- maybe 40 or 50 in enough detail to know what I'm talking about -- since arriving in Silicon Valley in 1994: as a board member, as an angel investor, as an advisor, as a friend of various founders, and as a participant in various venture capital funds.</blockquote>
                    <p>This series will focus on lessons learned from this entire cross-section of Silicon Valley startups -- so don't think that anything I am talking about is referring to one of my own companies: most likely when I talk about a scenario I have seen or something I have experienced, it is from some other startup that I am not naming but was involved with some other way than as a founder.</p>
                    <p>Finally, much of my perspective is based on Silicon Valley and the environment that we have here -- the culture, the people, the venture capital base, and so on. Some of it will travel well to other regions and countries, some probably will not. Caveat emptor</p>
                    <blockquote>With all that out of the way, let's start at the beginning: why not to do a startup.</blockquote>
                    <p>Startups, even in the wake of the crash of 2000, have become imbued with a real mystique -- you read a lot about how great it is to do a startup, how much fun it is, what with the getting to invent the future, all the free meals, foosball tables, and all the rest.</p>
                    <p>Now, it is true that there are a lot of great things about doing a startup. They include, in my experience:</p>
                    <p>Most fundamentally, the opportunity to be in control of your own destiny -- you get to succeed or fail on your own, and you don't have some bozo telling you what to do. For a certain kind of personality, this alone is reason enough to do a startup.</p>
                    <blockquote>The opportunity to create something new -- the proverbial blank sheet of paper. You have the ability -- actually, the obligation -- to imagine a product that does not yet exist and bring it into existence, without any of the constraints normally faced by larger companies.</blockquote>
                    <p>The opportunity to have an impact on the world -- to give people a new way to communicate, a new way to share information, a new way to work together, or anything else you can think of that would make the world a better place. Think it should be easier for low-income people to borrow money? Start <a href="https://www.prosper.com/">Prosper</a>. Think television should be opened up to an infinite number of channels? Start Joost. Think that computers should be based on Unix and open standards and not proprietary technology? Start <a href="http://web.archive.org/web/20100617142314/http://www.oracle.com:80/us/sun/index.html">Sun</a>.</p>
                    <p>The ability to create your ideal culture and work with a dream team of people you get to assemble yourself. Want your culture to be based on people who have fun every day and enjoy working together? Or, are hyper-competitive both in work and play? Or, are super-focused on creating innovative new rocket science technologies? Or, are global in perspective from day one? You get to choose, and to build your culture and team to suit.</p>
                    <p>And finally, money -- startups done right can of course be highly lucrative. This is not just an issue of personal greed -- when things go right, your team and employees will themselves do very well and will be able to support their families, send their kids to college, and realize their dreams, and that's really cool. And if you're really lucky, you as the entrepreneur can ultimately make profound philanthropic gifts that change society for the better.</p>
                </div>
            </div>
        </article>
    </main>
{% endblock %}
