//=================
//  BASE STYLES
//=================
*,
* > {
    box-sizing: border-box;
}

html {
    font-family: helvetica;
    font-size: 16px;
}
//link styles:
a {
    text-decoration: underline;
    transition: all $speed $ease;
}

a:visited {
    color: inherit;
}

a:hover {
    opacity: .6;
    text-decoration: none;
}

//=====================
//   CONTAINER STYLES
//=====================

.container {
    max-width: $max-width;
}

//=====================
//  HERO STYLES
//=====================

.is-home .hero {
    background-image: url('../img/pm-home-bg.jpg');
    color: $white;
    padding: 100px 7.5% 35px;
    position: relative;
}

.hero {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.hero__header {
    font-size: $text-large; //spec
}

.is-home .hero__header {
    font-size: 108px; //spec
}

.is-home .hero__text {
    bottom: 35px;
    font-weight: 100;
    position: absolute;
    right: 50px;
}

//=====================
// ARTICLE ITEMS
//=====================

.article-list__link {
    background-color: inherit;
    color: $black;
    display: block;
    font-weight: 100;
    padding: 85px 7.5% 60px;
    position: relative;
    text-decoration: none;
    width: 100%;

    @media screen and (min-width: $desktop) {
        min-height: 570px; //spec
    }
}

//TODO: make an each loop for colors
.pink .article-list__link {
    background-color: $pink;
}

.teal .article-list__link {
    background-color: $teal;
}

.gold .article-list__link {
    background-color: $gold;
}

.purple .article-list__link {
    background-color: $purple;
}

.article-list__link:hover {
    background-color: $black;
    opacity: 1;
    transform: translateZ(0);
}

.pink .article-list__link:hover {
    color: $pink;
}

.teal .article-list__link:hover {
    color: $teal;
}

.gold .article-list__link:hover {
    color: $gold;
}

.purple .article-list__link:hover {
    color: $purple;
}


.article__title {
    @include serif-rom;

    font-size: $text-large;
    letter-spacing: .045rem;

    @media screen and (min-width: $max-width) {
        font-size: $text-large-max;
    }
}

.article-list__subtitle {
    font-weight: 100;
    margin-bottom: 50px;
}

.indent {
    display: block;
    padding-left: 7%;
}

.article__chapters {
    text-align: right;

    @media screen and (min-width: $desktop) {
        bottom: 40px; //spec
        position: absolute;
        right: 7.5%; //aligns with article-list__link
    }
}

//=============
//  MODIFIERS
//=============
.article__title--guide {
    @media screen and (min-width: $desktop) {
        max-width: 700px;
    }
}
