//=================
//  BASE STYLES
//=================
*,
* > {
    box-sizing: border-box;
}

html {
    font-family: helvetica;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}

body {
    font-size: 24px; //spec
}

//link styles:
a {
    text-decoration: underline;
    transition: all $speed $ease;
}

a:visited {
    color: inherit;
}

a:hover {
    opacity: .6;
    text-decoration: none;
}


//=====================
//   CONTAINER STYLES
//=====================

.container {
    max-width: $max-width;
}

//=====================
//  HERO STYLES
//=====================

.is-home .hero {
    background-image: url('../img/pm-home-bg.jpg');
    color: $white;
    height: 80vh;
    padding: 50px 7.5% 35px;
    position: relative;

    @media screen and (min-width: $tablet) {
        padding-top: 100px;
    }
}

.pink .hero {
    background-image: url('../img/pm-pink-bg.jpg');
    color: $pink;
}

.pink .chapter__heading {
    background-color: $pink;
}

.hero {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.hero__header {
    @include serif-rom;

    font-size: 11vw;

    @media screen and (min-width: $tablet) {
        font-size: $text-large; //spec
        margin-bottom: 20px; //arb
    }
}

.is-home .hero__header {
    @include sans-regular;

    font-size: 13vw;

    @media screen and (min-width: 600px) {
        font-size: 7.6vw; //spec
    }

    @media screen and (min-width: $max-width) {
        font-size: 108px; //spec
    }
}

.is-home .hero__text {
    bottom: 35px;
    font-size: 21px; //spec
    left: 0;
    padding: 0 7.5%;
    position: absolute;

    @media screen and (min-width: $tablet) {
        left: auto;
        padding: 0;
        right: 50px;
    }
}

.hero__text a {
    color: $white;
}

//=====================
// ARTICLE ITEMS
//=====================
.is-article .main {
    padding-left: 60px; //width of the sidebar

    @media screen and (min-width: $tablet) {
        padding-left: 90px; //width of the sidebar
    }
}

.article-list__link {
    background-color: inherit;
    color: $black;
    display: block;
    padding: 45px 7.5%;
    position: relative;
    text-decoration: none;
    width: 100%;

    @media screen and (min-width: $desktop) {
        min-height: 570px; //spec
        padding: 85px 7.5% 60px;
    }

    @media screen and (min-width: 1600px) {
        //custom media query for very large desktops
        min-height: 705px;
    }
}

//TODO: make an each loop for colors
.pink .article-list__link,
.pink.site-nav__list-item {
    background-color: $pink;
}

.teal .article-list__link,
.teal.site-nav__list-item  {
    background-color: $teal;
}

.gold .article-list__link,
.gold.site-nav__list-item  {
    background-color: $gold;
}

.purple .article-list__link,
.purple.site-nav__list-item  {
    background-color: $purple;
}

.article-list__link:hover,
.site-nav__list-item:hover {
    background-color: $black;
    opacity: 1;
    transform: translateZ(0);
}

.pink .article-list__link:hover,
.pink.site-nav__list-item:hover {
    color: $pink;
}

.teal .article-list__link:hover,
.teal.site-nav__list-item:hover {
    color: $teal;
}

.gold .article-list__link:hover,
.gold.site-nav__list-item:hover {
    color: $gold;
}

.purple .article-list__link:hover,
.purple.site-nav__list-item:hover {
    color: $purple;
}


.article__title {
    @include serif-rom;

    font-size: 11vw;
    letter-spacing: .045rem;
    margin-bottom: 40px; //arb

    @media screen and (min-width: $tablet) {
        font-size: $text-large;
    }

    @media screen and (min-width: $max-width) {
        font-size: $text-large-max;
        margin-bottom: 0;
    }
}

.article-list__subtitle {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
        font-size: 21px; //spec
        margin-bottom: 50px; //spec
    }
}

.indent {
    display: block;
    padding-left: 7%;
}

.article__chapters {
    font-size: 18px;
    text-align: right;

    @media screen and (min-width: $tablet) {
        font-size: 21px;
    }

    @media screen and (min-width: $desktop) {
        bottom: 40px; //spec
        position: absolute;
        right: 7.5%; //aligns with article-list__link
    }
}

//=============
//  MODIFIERS
//=============
.article__title--guide {
    @media screen and (min-width: $desktop) {
        max-width: 700px;
    }

    @media screen and (min-width: $max-width) {
        max-width: 1000px; //to fix text width in large viewports
    }
}

//======================
// PAGE MESSAGE STYLES
//======================
.message {
    background-color: $black;
    color: $white;
    padding: 45px 7.5%;

    @media screen and (min-width: $tablet) {
        padding: 180px 4.96%; //spec
    }
}

.message__text-wrapper {
    font-size: 20px; //arb
    line-height: 1.2; //arb
    margin: 0 auto;
    max-width: 861px; //spec

    @media screen and (min-width: $tablet) {
        font-size: 24px;
        line-height: 1.3;
    }
}

.message__text-wrapper p:not(:first-child) {
    text-indent: 20px; //arb

    @media screen and (min-width: $tablet) {
        text-indent: 37px; //spec
    }

}

//===================
//  ARTICLE STYLES
//===================

.article__hero {
    padding: 45px 7.5%;

    @media screen and (min-width: $tablet) {
        padding: 67px 5.76%;
    }
}

.chapter {
    background-color: inherit;
    padding: 0 7.5% 45px;
    position: relative;

    @media screen and (min-width: $tablet) {
        padding: 0 6.1% 80px;
    }
}

.chapter-anchor {
    height: 45px;

    @media screen and (min-width: $tablet) {
        height: 80px;
    }
}

.pink .chapter {
    background-color: $pink;
}

.chapter__header {
    @include sans-regular;

    font-size: 7.1vw; //arb
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
        font-size: 5.1vw;
        margin-bottom: 0;
    }

    @media screen and (min-width: $max-width) {
        font-size: 72px; //spec
    }
}

.article__body {
    padding: 100px 6.1%;
}

.article__body-wrapper {
    margin: 0 auto;
    max-width: 870px; //spec
}

.article__body p {
    font-size: 18px; //arb
    line-height: 1.4; //arb
    margin: 0 auto 40px; //spec
    max-width: 900px;

    @media screen and (min-width: $mobile) {
        font-size: 24px; //spec
    }

    @media screen and (min-width: $desktop) {
        margin: 0 auto 80px; //spec
        padding: 0 100px;
    }
}

.article a {
    color: $black;
}

.article blockquote p {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        font-size: 25px;
    }
}

.article blockquote {
    margin-bottom: 40px; //arb
}

.callout,
p.callout {
    @include serif-rom;

    color: $grey;
    font-size: 28px; //arb
    line-height: 1.4; // arb
    margin-bottom: 40px;
    padding: 0;

    @media screen and (min-width: $tablet) {
        font-size: 48px; //override specific styles
        line-height: 1.2;
        margin-bottom: 80px; //spec
    }
}

.article ul {
    font-size: 18px;
    list-style-type: disc;
    margin-bottom: 40px;
    padding: 0 7.5%;

    @media screen and (min-width: $mobile) {
        font-size: 24px;
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 80px;
        padding: 0 100px;
    }
}

.article li {
    margin-bottom: 15px; //arb
}

.pink .article a:hover {
    color: $pink;
    opacity: 1;
}

.pink blockquote {
    color: darken($pink, 7%); //arb to make the color visible against the white bg
}


//==================
//  SIDEBAR STYLES
//===================

.aside {
    background-color: $black;
    bottom: 0;
    color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 60px; //spec
    z-index: 1;

    @media screen and (min-width: $tablet) {
        width: 90px; //spec
    }
}

.sidebar {
    left: 50%;
    padding: 0 36px; //spec
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.chapter-list {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px); //nav
    justify-content: space-around;
    max-height: 400px; //spec
}

.chapter-list__link {
    color: $white;
    font-size: 18px; //arb
    text-decoration: none;

    @media screen and (min-width: $tablet) {
        font-size: 21px; //spec
    }
}

.chapter-list__link.is-active {
    font-size: 36px; //spec
}

//==============
//  NAV STYLES
//==============
.is-visually-hidden {
    left: -9999%;
    position: absolute;
    top: 0;
}

.js-is-active.body {

    @media screen and (min-width: $desktop) {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }
}

.nav {
    background-color: $black;
    min-height: 57px; //spec
    position: relative;
    z-index: 2;

    @media screen and (min-width: $tablet) {
        min-height: 75px; //spec
    }
}

.site-nav__list-item {
    width: 100%;

    @media screen and (min-width: $desktop) {
        height: 50%;
        min-height: 0;
        width: 50%;
    }
}

.site-nav__wrapper {
    min-height: 57px; //spec
    position: relative;

    @media screen and (min-width: $tablet) {
        min-height: 75px; //spec
    }
}

.brand {
    @include px-regular;

    color: $white;
    font-size: 19px; //spec
    left: 93px; //spec
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @media screen and (min-width: $tablet) {
        font-size: 26px; //spec
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

//hamburger menu
.site-nav__icon-link {
    cursor: pointer;
    display: block;
    left: 30px; //spec
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.hamburger-container {
  display: inline-block;
  height: 14px; //a tiny bit smaller; in order for the hamburger container to be the height of the logo, it needed to be 14
  width: 22px; //spec

  @media screen and (min-width: $tablet) {
      height: 22px;
      width: 30px;
  }
}

.hamburger-container.is-clicked {
    outline: 0;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    background-color: $white;
    height: 2px; // spec says 2.86, however the browser doesn't do a great job rendering decimal heights. rounding to 3px was too thick for the height of the nav to be aligned with the logo
    position: absolute;
    transform: translateZ(0);
    transition: all .4s ease-in-out;
    width: 100%;

    @media screen and (min-width: $tablet) {
        height: 4px; //spec
    }
}

.hamburger-top {
  top: 0;
}

.hamburger-middle {
  top: .4rem;
  transition: opacity .3s ease;

  @media screen and (min-width: $tablet) {
      top: .59rem;
  }
}

.hamburger-bottom {
  bottom: 0;
}

.js-is-active .hamburger-top {
    top: 0;
    transform: rotate(-45deg);
    transform-origin: 18px 0;

    @media screen and (min-width: $tablet) {
        top: 8px;
    }
}

.js-is-active .hamburger-middle {
  opacity: 0;
}

.js-is-active .hamburger-bottom {
    bottom: 0;
    transform: rotate(45deg);
    transform-origin: 21px 0;

    @media screen and (min-width: $tablet) {
        transform-origin: 25px 0;
    }
}

.site-nav__subwrapper {
    background-color: $black;
    left: 0;
    opacity: 0;
    right: 0;
    top: 0;
    transform: translateZ(0);
    transition: opacity .3s ease-in-out;
    z-index: -1;

    @media screen and (min-width: $desktop) {
        bottom: 0;
    }
}

.js-is-active .site-nav__subwrapper {
    min-height: 768px; //height of menu and nav
    opacity: 1;
    position: absolute;
    z-index: 1;

    @media screen and (min-width: $desktop) {
        position: fixed;
    }
}

.site-nav__list {
    bottom: 0;
    display: none;
    flex: 0 0 50%;
    flex-direction: row;
    flex-wrap: wrap;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 57px;
    transition: opacity .2s ease-in-out;
    z-index: 2;

    @media screen and (min-width: $tablet) {
        top: 75px;
    }
}

.js-is-active .site-nav__list {
    display: flex;
    opacity: 1;

    @media screen and (min-width: $desktop) {
        height: calc(100vh - 75px);
    }
}

.site-nav__link {
    color: $black;
    display: block;
    height: 100%;
    min-height: 173px; //spec
    padding: 30px 18.5%; //77px / 414px
    text-decoration: none;
    width: 100%;

    @media screen and (min-width: $desktop) {
        padding: 60px 6.2%; //92px / 1440px
    }
}

.site-nav__link .indent {
    padding-left: 100px; //spec
}

.site-nav__subtitle {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 14px;
    padding-left: 30px;

    @media screen and (min-width: $desktop) {
        font-size: 25px;
        margin-bottom: 15px; //less than spec to ensure there'd be space among smaller heigh viewports
    }
}

.site-nav__title {
    @include serif-rom;

    font-size: 31px;

    @media screen and (min-width: $desktop) {
        font-size: 4vw;
    }

    @media screen and (min-width: $max-width) {
        font-size: 65px;
    }
}

.main {
    position: relative;
}

.main::before {
    background-color: $black;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s ease-in-out;
    z-index: -1;

}

.js-is-active .main::before {
    opacity: .8;
    z-index: 1;
}

.site-nav__link:hover {
    opacity: 1;
}
