$white: #FFF;
$black: #000;
$pink: #FFD5D0;
$teal: #4DAD99;
$gold: #F5A623;
$purple: #7C76FF;

//animations
$speed: .3s;
$ease: ease-in-out;

//fonts
$text-large: 9vw;
$text-large-max: 136px;

//widths
$max-width: 1440px;
$mobile: 500px;
$tablet: 800px;
$desktop: 1000px;
